/* for all of the text in the body */
body {
  font-family: "Flamenco";
}

/* for the title Connectwork */
h1 {
  font-size: 60px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
  font-weight: normal;
}

h3 {
  color: black;
  font size: 15px;
  font-weight: normal;
}

label[for="email"] {
  font-weight: bold;
  padding-right: 365px;
}

label[for="password"] {
  font-weight: bold;
  padding-right: 405px;
}

input[type=email] {
  font-family: "Flamenco";
  padding: 10px;
  width: 70%;
  font-size: 20px;
  border-radius: 8px; /*rounds the corners of the button */
  border-width: thin;
}

input[type=password] {
  font-family: "Flamenco";
  padding: 10px;
  width: 70%;
  font-size: 20px;
  border-radius: 8px; /*rounds the corners of the button */
  border-width: thin;
}

input[type=name] {
  font-family: "Flamenco";
  padding: 10px;
  width: 70%;
  font-size: 20px;
  border-radius: 8px; /*rounds the corners of the button */
  border-width: thin;
}

input[type=submit] {
  background-color: #5e0000ff; /* burgundy color for the button */
  font-family: "Flamenco";
  font-size: 20px;
  color: white; /* font color */
  padding: 16px; /* adds padding to the top and bottom of the text */
  border-radius: 8px; /*rounds the corners of the button */
  width: 70%;
}

.button {
  background-color: white;
  font-family: "Flamenco";
  border: 1px solid black;
  color: black;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  width: 70%;
  margin: auto;
  text-decoration: none;
}
